SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REFRESH_TOKEN=
MAL_USERNAME=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
AUTH_SECRET=
GITHUB_USERNAME=
GITHUB_TOKEN=
DATABASE_PATH=.data/personal-website.sqlite